{#

Template for Dell OS6

#}

!Current Configuration:
!Software Capability "Stack Limit = 8, VLAN Limit = 1024"
!Image File "N3000AdvLitev6.5.3.3"
!System Description "Dell EMC Networking N3048EP-ON, 6.5.3.3, Linux 3.6.5-e3cd5a07, Not Available"
!System Software Version 6.5.3.3
!
configure
vlan {% for vlan in vlans -%} {{ vlan.id }}{{ vlan.com }} {%- endfor %}
exit
{% for vlan in vlans -%}
 vlan {{ vlan.id }}
  name {{ vlan.name }}
  exit
{% endfor -%}
ip telnet server disable
hostname "{{ hostname }}"
{%- for slot in range(switchcount) %}
slot {{ slot + 1 }}/0 8    ! Dell EMC Networking N3048EP-ON
{%- endfor %}
sntp unicast client enable
{% for server in ntp -%}
sntp server {{ server }}
{% endfor -%}
clock summer-time recurring USA
clock timezone -5 minutes 0
stack
{%- for stack in range(switchcount) %}
member {{ stack + 1 }} 6    ! N3048EP-ON
{%- endfor %}
exit
ip domain-name "{{ domain }}"
{% for server in dns -%}
ip name-server "{{ server }}"
{% endfor -%}
!
{%- for server in logging %}
logging {{ server }}
exit
{%- endfor %}
no ip http server
ip http secure-server
ip routing
interface vlan 1
exit
interface vlan 252
    ip address {{ mgmt_IP }} /24
    exit
ip route 0.0.0.0 0.0.0.0 {{ defaultRoute }}
{%- for user in users %}
username {{ user.username }} password {{ user.password }} privilege 15
{%- endfor %}
aaa authentication login "{{ aaa.profile }}" {{ aaa.method1 }} {{ aaa.method2 }} enable
aaa authentication enable "{{ aaa.profile }}" {{ aaa.method1 }} enable
aaa accounting exec "{{ aaa.profile }}" start-stop {{ aaa.method1 }}
aaa accounting commands "{{ aaa.profile }}" start-stop {{ aaa.method1 }}
aaa authorization exec "{{ aaa.profile }}" {{ aaa.method1 }} {{ aaa.method2 }}
aaa authorization commands "{{ aaa.profile }}" {{ aaa.method1 }} none
switchport voice vlan
tacacs-server host {{ tacacs.server1 }}
key {{ tacacs.key }}
exit
tacacs-server host {{ tacacs.server2 }}
key {{ tacacs.key }}
exit
line telnet
exec-timeout {{ aaa.timeout }}
login authentication {{ aaa.profile }}
exit
line ssh
exec-timeout {{ aaa.timeout }}
login authentication {{ aaa.profile }}
exit
ip ssh server
spanning-tree mode {{ stp.mode }}
{%- for vlan in vlans %}
spanning-tree vlan {{ vlan.id }} priority {{ vlan.stp }}
{%- endfor %}
classofservice trust ip-dscp
cos-queue strict 2
application install SupportAssist auto-restart start-on-boot
application install hiveagent start-on-boot
!
{% for interface in interfaces -%}
interface {{ interface.name }}
description  "{{ interface.desc }}"
{% if "802.1Q" in interface.desc -%}
switchport mode trunk
{% if "CHANNEL" in interface.desc -%}   
switchport trunk allowed vlan {% for vlan in vlans -%} {{ vlan.id }}{{ vlan.com }} {%- endfor %}
no spanning-tree auto-portfast
no shutdown
exit
!
{%- else -%}   
channel-group 1 mode active
exit
!
{% endif -%}
{% elif "GENERAL" in interface.desc -%}
switchport mode general
{% if  "DATA2" in interface.desc -%}
no green-mode eee 
switchport general pvid {{ dataVlan2 }}
switchport general allowed vlan add {{ dataVlan2 }} untagged
{% endif -%}
{% if "DATA1" in interface.desc -%}
no green-mode eee 
switchport general pvid {{ dataVlan }}
switchport general allowed vlan add {{ dataVlan }} untagged
{% endif -%}
{% if "VOICE2" in interface.desc -%}
switchport general allowed vlan add {{ voiceVlan2 }} tagged
switchport voice vlan {{ voiceVlan2 }}
switchport voice vlan priority extend trust
switchport voice vlan dscp 46
switchport voice vlan override-authentication
no lldp tlv-select port-vlan
lldp tlv-select management-address system-description system-capabilities
lldp notification
lldp med confignotification
spanning-tree portfast
no shutdown
exit
!
{% endif -%}
{% if "VOICE1" in interface.desc -%}
switchport general allowed vlan add {{ voiceVlan }} tagged
switchport voice vlan {{ voiceVlan }}
switchport voice vlan priority extend trust
switchport voice vlan dscp 46
switchport voice vlan override-authentication
no lldp tlv-select port-vlan
lldp tlv-select management-address system-description system-capabilities
lldp notification
lldp med confignotification
spanning-tree portfast
no shutdown
exit
!
{% endif -%}
{% if "WIRELESS" in interface.desc -%}
switchport general pvid 777
switchport general allowed vlan add 777 untagged
switchport general allowed vlan add {% for vlan in interface.tagged -%} {{ vlan }} {%- endfor %} tagged
spanning-tree portfast
no shutdown
exit
!
{% endif -%}
{% elif "ACCESS" in interface.desc -%}
switchport mode access
no green-mode eee
{% if "DATA2" in interface.desc -%}
switchport access vlan {{ dataVlan2 }}
spanning-tree portfast
no shutdown
exit
!
{% endif -%}
{% if "DATA1" in interface.desc -%}
switchport access vlan {{ dataVlan }}
spanning-tree portfast
no shutdown
exit
!
{% endif -%}
{% if "VOICE2" in interface.desc -%}
switchport access vlan {{ voiceVlan2 }}
spanning-tree portfast
no shutdown
exit
!
{% endif -%}
{% if "VOICE1" in interface.desc -%}
switchport access vlan {{ voiceVlan }}
spanning-tree portfast
no shutdown
exit
!
{% endif -%}
{% endif -%}
{% endfor %}
snmp-server engineid local 800002a20328f10ef05e00
!
snmp-server group "{{ snmp.group }}" v3 priv
snmp-server user "{{ snmp.user }}" {{ snmp.group }} auth-sha {{ snmp.auth }} priv-aes128 {{ snmp.priv }}
snmp-server community "SupportAssistSNMP" ro
snmp-server community "{{ snmp.ro }}" ro
snmp-server community "{{ snmp.rw }}" rw
enable password {{ enablePass }}
banner motd "
**********************************************************
*                                                        *
*                        WARNING                         *
*                                                        *
*  This is a private device and can only be accessed by  *
*    authorized personnel. Use of this resource can be   *
* monitored and unauthorized use is strictly prohibited. *
*                                                        *
**********************************************************
"
exit




